*{
    /* border:1px solid red; */
}

body{
    background-color:#fff;
}

.container{
    display:flex;
    flex-flow:column nowrap;
}
/* NAV STYLING */


.nav-container{
    display:flex;
    justify-content: space-between;
}

.nav-container .nav-link-style{
    display:flex;
    list-style-type: none;
    padding:0;
    width:100%;
    justify-content: space-evenly;
}

.nav-left-group{
    display:flex;
    margin-left:1.5%;
    min-width:10%;
}

.nav-right-group{
    display:flex;
    align-items: center;
    margin-right:1.5%;
    min-width:20%;
}

/* END NAV STYLING */

/* MAIN STYLING */

.main-container{
    height:80vh;
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items:center;
}

/* END MAIN STYLING */

/* FOOTER STYLING */

.footer-container{
    display:flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: flex-start;
    background:#f2f2f2;
}
.footer-links{
    display:flex;
    justify-content: space-between;
    width: 100%;
    color:#70757a;
}

.footer-link-style{
    list-style-type: none;
    padding:0;
    display:flex;
    justify-content: space-around;
    
    
}

.footer-group-left{
    margin-left:1.5%;
    min-width:25%;
    height:100%;
    /* display: flex;
    justify-content: space-around;
    align-self: flex-end; */
}
.footer-group-right{
    margin-right:1.5%;
    min-width:25%;
}


/* END FOOTER STYLING */